
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variable files
*.env
.env.*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS
.DS_Store

# Docker
**/__pycache__/
docker-compose.override.yml
.dockerignore

# Build
build/
dist/
*.egg-info/

# Whitelist + logs (optional)
whitelists/
logs/
*.log

# Ignore generated output
output.xml
python_whitelist.json
